# Prerequisites
*.d

# Object files
*.o
*.ko
*.elf
*.obj

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64


# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
*.bkp
*.dtmp
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.gradle
build
.DS_Store
tmp/
xsim.dir

# vitis project folders and files
#has xilinx generated gitignore files in each folder

# petalinux project folders and files
#has xilinx generated gitignore file in petalinux project home

.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/xpu.iml

tools/logs/
tools/sdk/gradle.properties
tools/sdk/nb-configuration.xml


# allow asm tests, including hex files
!libraries/asm_tests/
!libraries/asm_tests/*/
!libraries/asm_tests/*/*
!libraries/asm_tests/*/*/*
!libraries/asm_tests/*/*/*/*












tools/sdk/.idea
tools/sdk/gradle
