---
Checks:          'clang-diagnostic-*,clang-analyzer-*,cppcoreguidelines-*,modernize-*,readability-*,performance-*,-portability-*,-cppcoreguidelines-pro-type-union-access,-readability-identifier-length,-readability-avoid-nested-conditional-operator'
WarningsAsErrors: ''
HeaderFilterRegex: 'src/.*'
