name: Push Tag For Each Commit

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  push-tag:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      
      - name: Get last tag pushed
        id: get-last-tag-pushed
        run: |
          last_tag_pushed=$(git ls-remote --tags origin | awk -F/ '{print $3}' | sort -V | tail -n1)
          last_tag_valid=$(echo "$last_tag_pushed" | sed 's/[^0-9]*$//')
          echo "LAST_TAG_PUSHED=$last_tag_valid" >> $GITHUB_ENV

      - name: Increment tag
        id: increment-tag
        run: |
          source $GITHUB_ENV
          last_tag_valid=${LAST_TAG_PUSHED}
          version=$(echo $last_tag_valid | sed 's/[^0-9]*$//g')
          new_version=$(echo "$version" | awk -F. '{$NF = $NF + 1;} 1' | sed 's/ /./g')
          echo "NEW_TAG=$new_version" >> $GITHUB_ENV
          
      - name: Create and push tag
        env:
          GITHUB_USER: arhacc
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          source $GITHUB_ENV
          new_tag=$NEW_TAG
          git config user.email "$GITHUB_USER@users.noreply.github.com"
          git config user.name  "$GITHUB_USER"
          git checkout main
          git fetch origin
          git pull
          git add .
          git tag $new_tag
          git push origin $new_tag
        
      - name: Create new release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          last_tag_pushed=$(git ls-remote --tags origin | awk -F/ '{print $3}' | sort -V | tail -n1)
          last_tag_valid=$(echo "$last_tag_pushed" | sed 's/[^0-9]*$//')
          gh release create $last_tag_valid
          gh release upload $last_tag_valid README.md

      - name: Trigger Gradle Publish Workflow
        uses: peter-evans/repository-dispatch@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          repository: ${{ github.repository }}
          event-type: publish
          client-payload: '{"tag" : "${{ env.NEW_TAG }}"}'